body{
    font-family: sans-serif;
    background-color: whitesmoke;
    background-image: url("img/background.jpg");
    background-position: center top;
}

.topnav {
    border: 1px black;
    opacity: 0.8;
    color:  white;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    background-color: white;
    width: 99%;

}

.banner{
    text-align: center;
    width: 25%;
    margin-left: 40%;
}

.sidenav {
    border: 1px black;
    opacity: 0.9;
    list-style-type: none;
    margin: 10px;
    margin-bottom: 10%;
    padding: 0;
    width: 15%;
    background-color: #efb1af4d;
    height:-webkit-fill-available;
    position: absolute;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #df4444;
    color: white;
}

li a:hover:not(.active) {
    background-color: #ffd347;
    color: white;
}

.content{
    margin-left:17.5%;
    padding:5px 16px;
    width: 80%;
    height:-webkit-fill-available;
}

.criteriatable{
    margin-left: 5%;
    margin-right: 5%;
}

.title{
    text-align: center;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    color: white;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: center;
}

td, th {
    border: 1px solid white;
    text-align: left;
    padding: 8px;
}
th{
    color: black;
}

.content1{
    float: left;
}

.buttons{
    margin-left: 37.5%;
}

.loginbox_container{
    background-color: #00000021;
    margin-left: 35%;
    margin-right: 35%;
    height: 250px;
}