.resize {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 200px;
    background-color: #DDD;
    border: 3px solid #000000;
}

.title {
    font-size: 20px;
    text-align: center;
}

.row {
    display: flex;
    cursor: pointer;
}

/* Create three equal columns that sits next to each other */
.column {
    flex: 33.33%;
    padding: 5px;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

.center-text-in-div{
    text-align: center;
}
.button {
    text-align: center;
}