@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

/* HTML */
html {

}


/* BODY */
body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    scroll-behavior: smooth;
    overflow-x: hidden;
}





/* BOVENBALK */
.bovenbalk {
    background-color: #D81E05;
    width: 100%;
    height: 50px;
    display: inline-block;
}

.bovenbalk ul {
    margin-right: 50px;
    list-style: none;
    margin-top: 0%;
    height: 100%;
}

.bovenbalk ul li {
    float: right;
    display: table;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
}

.bovenbalk ul li img {
    margin-left: 7px;
}

.bovenbalk ul li a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.bovenbalk ul li:hover {
    background-color: #a81501;
}

#uitlogButton{
    height: 50px;
    cursor: pointer;
}

#inlogButton{
    height: 50px;
}


#inlogButton a{
    height: 50px;
}

#uitlogButton a {
    height: 50px;
}



#profielButton{
    cursor: pointer;
}

#favorietButton{
    cursor: pointer;
}


.logo{
    float: left;
    text-align: left;
    height: 45px;
    margin-top: 2px;
}







/* CONTAINER NAVBAR*/
header {

}

header::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    position: fixed;
}

.shrink {
    background-color: #D81E05;
    margin-top: -50px;
}

.shrink nav a{
    color: white;
}

nav {
    width: 100%;
    margin-right: 5%;
}

nav ul {
    margin-right: 5%;
    float: right;
    margin-top: 0px;
    padding: 0;
    list-style: none;

}

nav li {
    display: inline-block;
    margin-left: 50px;
    padding-top: 15px;
    margin-bottom: 15px;
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

nav a:hover {
    color: #D81E05;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #D81E05;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}




/* BACKGROUND VIDEO */
.background-wrap {
    position: absolute;
    z-index: -1000;
    width: 100%;
    height: 1000px;
    overflow: hidden;
    top: 0;
    left: 0;
}

#video1 {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
}

.gezelschap {
    font-weight: bold;
    font-size: 25px;
}






/* CONTENT */
.container2 {
    width: 100%;
    height: 100%;
}

.content {
    overflow: auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    display: block;
    width: 100%;

    border-style: solid;
    border-width: 0.1px;
    border-color: #D81E05;
    background-color: white;

    margin-top: 600px;
}

.content div {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.content1 div {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.container2 div h1 {
    margin-top: 80px;
    margin-bottom: 5%;
}

.container div img {
    width: 100%;
    height: 100%;
}






/* DOE MEE DIV'S */
.doeMee {
    overflow: auto;
    text-align: center;
    text-transform: uppercase;
    display: block;
    width: 100%;
    border-style: solid;
    border-width: 0.1px;
    border-color: #D81E05;
    background-color: white;
    padding-bottom: 5%;
}

.doeMee .picto1 {
    margin-left: 5.5%;
    margin-right: 1.5%;
}

.doeMee .picto4 {
    margin-right: 5.5%;
    margin-left: 1.5%;
}

.doeMee div {
    float: left;
    width: 20%;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.doemee div img {
    width: 100%;
    height: 40%;
    margin-bottom: 20px;
}






/*  CONNECT & GO*/
.ConnectGo{
    overflow: auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    display: block;
    width: 100%;

    border-style: solid;
    border-width: 0.1px;
    border-color: #D81E05;
    background-color: white;

    margin-top: 600px;
}


/* CRITERIA */
.criteria{
    width: 25%;
    height: 420px;

    float: left;
    margin-left: 10%;
    margin-right: 2.3%;
    background-color: #ffff;
    box-shadow: 1px 2px 12px #888888;

    overflow-y: hidden;
    padding-bottom: 20px;
}

.geslachtLeeftijd {
    width: 100%;
    height: 30px;
}


.kiesGeslacht{
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    height: 30px;

}

.kiesGeslachtSelect {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

select:invalid {
    color: black;
}

.kiesleeftijd{
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    height: 30px;
}

.kiesleeftijdSelect {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.interesses {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 140px;
}

.interesses h5{
    margin-top: 30px;
    margin-left: 1%;
    text-align: left;
}

.interesses1 {
    height: 100%;
    width: 50%;
    float: left;
}


.interesses1 input {
    width: 10px;
    height: 10px;
}

.criteria label{
    float: left;
}


.criteria label input{
    cursor: pointer;
    width: 20px;

}



/* DATUM EN BESTEMMING */
.DatumBestemming{
    width: 25%;
    height: 300px;
    float: left;
    margin-right: 2.3%;
    background-color: #ffff;
    box-shadow: 1px 2px 12px #888888;
}

.datum {
    margin-top: 40px;
    width: 100%;
}

.vertrekDatum{
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 30px;
    width: 200px;
}


.bestemmingLand {
    height: 30px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #000000;
}


/* ZOEK NAAR PARTNER */
.zoek{
    width: 25%;
    height: 200px;
    float: left;
    margin-right: 10%;
    background-color: #ffff;
    box-shadow: 1px 2px 12px #888888;

}

.zoekButton {
    margin-top: 40px;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;

    padding-top: 1px;
    padding-bottom: 1px;

    background-color: #D81E05;

    border-radius: 20px;
    font-size: 30px;
}

.connectGoButton{
    margin-top: 30px;
    margin-left: 0%;

    width: 60%;
    height: 30%;

    background: #d81e05;

    color: #ffffff;

    font-size: 18px;
    text-align: center;
    border-radius: 20px;
    border: none;


}

.connectGoButton:hover{
    cursor: pointer;
    background: #ffc61f;
    color: #d81e05;
    top: 50px;
}


.matchesDiv {

    width: 80%;
    height: 350px;

    margin-left: 10%;

    display: flex;
    flex: auto;

    justify-content:space-between;

}


.match{
    cursor: pointer;
    border: 1px solid #000000;
    padding: 5px;
    margin-top: 5%;
    height: 90%;
    width: 25%;
    float: left;
}

.matchFoto{
    width: 100%;
    height: 70%;
}

.matchGegevens{
    height: 30%;
    width: 100%;
    text-align: left;
    line-height: 80%;
}








/* EINDE CONNECT & GO */



/* NEW van Anass Review */
.contentRowRight{
    float: left;
    width: 40%;
    display: block;
    height: 100%;

}
.contentRowLeft{
    float: left;
    width: 60%;
    display: block;
    height: 100%;

}

/* Titel DIV */

.titelReviews {
    text-align: left;
    margin-left: 5%;
    color: #D81E05;
}

.reviewHead{

    margin-left: 70px;
    color: #D81E05;
}

.infoContentTitel {
    color: #D81E05;

}







/* Personen die een review plaatsen */
.persoonsInfoRight {
    background-color: #D81E05;
    font-size: medium;
    text-align: left;
    border: 1px solid #D81E05;
    padding: 5px;
    padding-bottom: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 2.5px gray;
    color: white;
    width: 60%;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.persoonsInfoLeft {
    background-color: #D81E05;
    font-size: medium;
    text-align: left;
    border: 1px solid #D81E05;
    border-radius: 5px;
    box-shadow: 5px 5px 2.5px gray;
    padding: 5px;
    color: white;
    width: 60%;
    margin-left: 25%;
    margin-top: 3%;
    margin-bottom: 3%;
}



/* Info van de persoon */
.naamReview {
    margin-top: 1px;
    margin-bottom: 1px;
}
.locatieReview {
    margin-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 10px;
    border-bottom: solid 1px white;
}

.reviewBericht {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 9px;

}



/* review plaatsen info */
.infoContentReviewPlaatsen {

    background-color: #D81E05;
    font-size: small;
    text-align: center;
    margin-left: 70px;
    margin-top: 50px;
    border: 1px solid #D81E05;
    border-radius: 5px;
    box-shadow: 5px 5px 2.5px gray;
    padding: 5px;
    color: white;
    width: 70%;
}

.buttonReviewPlaatsen {

    background-color: white;
    color: black;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    font-size: large;
    border: 1px solid #D81E05;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    height: 40px;
}

.buttonReviewPlaatsen:hover {
    background-color: #ffc61f;
    color: white;
    cursor: pointer;
}


.plaatsBericht {
    resize: none;
    border-color: black;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    width: 100%;
    height: 200px;
    padding: 5px;
}


/* imageReview */
.reviewImg {
    margin-top: 5%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 5%;
}


/* rateStars */
.Stars {
    margin-top: 100px;
    margin-bottom: 20px;
}


.checked {
    color: orange;

}


.vertalen {
    overflow: auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    display: block;
    width: 100%;
    font-size: 20px;

    border-style: solid;
    border-width: 0.1px;
    border-color: #D81E05;
    background-color: white;


}

.vertalen div{

    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
}