/*LOGIN*/

.heading {
    width: 600px;
    height: 300px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/*LOGINBOX*/

body{
    margin: 0;
    padding: 0;

    /*background: ;*/
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.loginbox_container{
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    transition: all 500ms ease;
}

.loginbox_container:target{
    opacity: 1;
    pointer-events: auto;
}

.loginbox_container > div{
    transform: translate(0px, -50px);
    transition: all 500ms ease;
}
.loginbox_container:target > div{
    transform: translate(0px, 0px);
}

.loginbox{
    width: 320px;
    height: 420px;
    margin: auto;
    position: absolute;
    top: 0; bottom: 0;
    right: 0; left: 0;
    background: #ffffff;
    border: 1px solid #222222;
    padding: 20px;
    box-shadow: 0 0 50px 5px #000000;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.boxtitel{
    box-sizing: border-box;
    width: 100%;
    display: block;
    height: 60px;
    margin-bottom: 30px;
    color: #d81e05;
    padding: 20px;
    text-align: center;
    font-size: 20pt;
    border-bottom: 2px solid #fefefe;
}

.loginbox p{
    margin:0;
    padding: 0;
    font-weight: bold;
    color: #d81e05;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], .loginbox input[type="password"]{
    border: none;
    border-bottom: 1px solid #000000;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
}

.btnSubmit{
    border: none;
    outline: none;
    height: 40px;
    background: #d81e05;
    color: #ffffff;
    font-size: 18px;
    border-radius: 20px;
}

.btnSubmit:hover{
    cursor: pointer;
    background: #ffc61f;
    color: #d81e05;
}

.loginbox a{
    text-decoration: none;
    font-weight: normal;
    line-height: 20px;
    color: #d81e05;
}

.loginbox a:hover{
    color:#ffc61f;
}

.loginClose{
    position: absolute;
    top: 5px;
    right: 3px;
    font-size: 40px;
    transform: rotate(45deg);
    text-decoration: none;
    color: #d81e05;
}

.loginClose:hover{
    color: #ffc61f;
}


/* REGISTRATIE */

.heading {
    width: 600px;
    height: 300px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/* modal */

.modal_container{
    width:100%;
    height: 100%;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    transition: all 500ms ease;
}

.modal_container:target{
    opacity: 1;
    pointer-events: auto;
}

.modal_container > div{
    transform: translate(0px, -50px);
    transition: all 500ms ease;
}
.modal_container:target > div{
    transform: translate(0px, 0px);
}

.modal{
    width: 400px;
    height: 465px;
    margin: auto;
    position: absolute;
    top: 0; bottom: 0;
    right: 0; left: 0;
    background: #ffffff;
    border: 1px solid #222222;
    padding: 20px;
    box-shadow: 0 0 50px 5px #000000;
}

.modal_heading {
    box-sizing: border-box;
    width: 100%;
    display: block;
    height: 60px;
    margin-bottom: 30px;
    color: #d81e05;
    padding: 20px;
    text-align: center;
    font-size: 20pt;
    border-bottom: 2px solid #fefefe;
    text-decoration: none;
}
.deel1{
    float: left;
}

.deel2{
    float: right;
}

input{

    padding: 14px;
    width: 180px;
    box-sizing: border-box;
    border-radius: 7px;
    border: 1px solid #000000;
    height: 20px;
    font-size: 14px;
    margin-bottom: 5px;
}


.geslacht{
    width: 180px;
    height: 30px;
    align-content: center;
    border-radius: 7px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.geboortedatum{
    width: 180px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 2px;
    margin-top: 2px;
}


.alAccount{
    text-decoration: none;
    font-weight: normal;
    line-height: 20px;
    color: #d81e05;
    float: left;
}

.modal a:hover{
    color:#ffc61f;
}
.modal p{
    text-decoration: none;
    font-weight: bold;
    line-height: 25px;
    color: #d81e05;
    margin-bottom: 5px;
}



.btnRegister{
    border: none;
    outline: none;
    height: 45px;
    width: 300px;
    background: #d81e05;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-top: 35px;
}

.btnRegister:hover{
    cursor: pointer;
    background: #ffc61f;
    color: #d81e05;
    top: 50px;
}

.registerClose{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 40px;
    transform: rotate(45deg);
    text-decoration: none;
    color: #d81e05;
}
.registerClose:hover{
    color: #ffc61f;
}

/*Wachtwoordvergeten */

.wachtwoordVergetencontainer{
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    transition: all 500ms ease;
}

.wachtwoordVergetencontainer:target{
    opacity: 1;
    pointer-events: auto;
}

.wachtwoordVergetencontainer > div{
    transform: translate(0px, -50px);
    transition: all 500ms ease;
}
.wachtwoordVergetencontainer:target > div{
    transform: translate(0px, 0px);
}

.wachtwoordVergetenBox{
    width: 320px;
    height: 300px;
    margin: auto;
    position: absolute;
    top: 0; bottom: 0;
    right: 0; left: 0;
    background: #ffffff;
    border: 1px solid #222222;
    padding: 20px;
    box-shadow: 0 0 50px 5px #000000;
}
.wachtwoordVergetenBox p{
    margin:0;
    padding: 0;
    font-weight: bold;
    color: #d81e05;
}

.wachtwoordVergetenBox input{
    width: 100%;
    margin-bottom: 20px;
}


.btnSubmit{
    border: none;
    outline: none;
    height: 40px;
    background: #d81e05;
    color: #ffffff;
    font-size: 18px;
    border-radius: 20px;
}

.btnSubmit:hover{
    cursor: pointer;
    background: #ffc61f;
    color: #d81e05;
}

.wachtwoordVergetenBox a{
    text-decoration: none;
    font-weight: normal;
    line-height: 20px;
    color: #d81e05;
}

.wachtwoordVergetenBox a:hover{
    color:#ffc61f;
}

.wachtwoordVergetenClose{
    position: absolute;
    top: 5px;
    right: 3px;
    font-size: 40px;
    transform: rotate(45deg);
    text-decoration: none;
    color: #d81e05;
}

.wachtwoordVergetenClose:hover{
    color: #ffc61f;
}


