* {
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* Style the container/contact section */
.container {
    border-radius: 5px;
    padding: 10px;
}

/* Create two columns that float next to eachother */
.vakantieAfbeelding {
    float: left;
    width: 50%;
    height: 50%;
    margin-top: 6px;
    padding: 20px;
}

.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.buttonBerichten{
    background-color: #d81e05;
    color: white;
    height: 6%;
    width: 30%;
    border: none;
    font-size: 18px;
    text-align: center;
    border-radius: 20px;
    margin-top: 70px;
}

.buttonBerichten:hover{
    background-color: #ffc61f;
    color: #d81e05;
    cursor: pointer;

}

.contacteer{
    color: #d81e05;
    font-weight: normal;
    font-size: 20px
}

.vakantieAfbeeldingZelf{
    width:100%;
    height: 140%;
    border: 1px solid #d81e05;
}