h2 {
    color: black;
    font-family: "Arial";
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Calibri;

}

div.title {
    text-align: center;
}

.header {
    background-color: white;
    padding: 20px;
    text-align: center;
}

.topnav {
    overflow: hidden;
    background-color: #D81E05;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.column {
    float: left;
    width: 33.33%;
    padding: 15px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.article1 {
    display: block;
    margin-left: 20%;
    width: 60%;
    height: 100%;
    padding: 20px;

}

.zoom:hover {
    -ms-transform: scale(1.75);
    -webkit-transform: scale(1.75);
    transform: scale(1.75);
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #D81E05;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.teamPadding {
    padding-top: 64px;
    padding-bottom: 64px;
}

div.namen {
    position: absolute;
    left: 50px;
    top: 150px;
    width: 1000px;
    background-color: blue;

}

div.Naam1 {
    margin-left: 0px;
    width: 100px;
    background-color: red;
}

div.Naam2 {
    margin-left: 300px;
    width: 100px;
    height: 50px;
    margin-top: 0px;
    background-color: green;
}

.Naam {
    float: left;
    width: 16.66%;
    padding: 10px;
    height: 340px;
    box-sizing: border-box;
    border: 3px dotted #D81E05;
}

.img {
    border-radius: 10%;
    width: 75%;
    height: 60%;

}

.imgAbbas {
    border-radius: 10%;
    width: 70%;
}

.imgDanial {
    border-radius: 10%;
    width: 80%;
    height: 60%;
}

.imgMartin {
    border-radius: 10%;
    width: 70%;
}

.teamCenter {
    text-align: center !important;
}

.onzeAfspraken {
    border: 3px dotted #D81E05;
    margin-top: 350px;
}

html, body {
    font-size: 15px;
    line-height: 1.5;
}

.voorwaaardenAfspraken {
    text-align: center;
}

.paragraaf {
    text-align: center;
}

li.regel1 {
    margin-bottom: 10px;
    margin-top: 50px;
}

li.regel2 {
    margin-bottom: 10px;
}

li.regel3 {
    margin-bottom: 10px;
}

li.regel4 {
    margin-bottom: 10px;
}

li.regel5 {
    margin-bottom: 10px;
}

li.regel6 {
    margin-bottom: 10px;
}

li.regel7 {
    margin-bottom: 10px;
}

footer {
    border-top: solid;
    border-top-color: #D81E05;
    bottom: 0;
    width: 100%;
    text-align: center;

}

.center {
    text-align: center;
}

.p {
    text-align: center;
}

.moscow {
    top: 250px;
}

table, th, td {
    border: 2px solid #D81E05;
    border-collapse: collapse;
}

th {
    font-size: 23px;
}

th, td {
    padding: 20px;
}

.column {
    border: 1px solid black;
    flex: 50%;
    margin: 10px;
}

.title {
    flex: 20%;
}

.profile {
    flex: 1%;
}

.box {
    height: auto;
}

.row {
    display: flex;
}

* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=Opslaan] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 17px;
}

input[type=Opslaan]:hover {
    background-color: #45a049;
}

.containerProfiel {
    flex: 100%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-5 {
    flex: 5%;
    margin-top: 6px;
}

.classname {
    margin-top: 12px;
}

.col-10 {
    flex: 10%;
    margin-top: 6px;
}

.col-15 {
    width: 15%;
    margin-top: 6px;
}

.col-60 {
    flex: 60%;
    margin-top: 30px;
}

.col-75 {
    float: left;
    flex: 75%;
}

.col-75 label {
    margin-right: 10%;
}

.interesseProfiel {
    margin-top: 10px;
    width: 25%;
    float: left;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
/*@media screen and (max-width: 600px) {-->
    <!--.col-25, .col-80, input[type=Opslaan] {-->
        <!--width: 100%;-->
        <!--margin-top: 0;-->
    <!--}-->
<!--}*/

/* The switch - the box around the slider */
.switch {
    margin-top: 1px;
    float: right;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch1 {
    margin-top: 1px;
    float: right;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #e74c3c;
}

input:focus + .slider {
    box-shadow: 0 0 1px #e74c3c;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

span {
    cursor: pointer;
}

a {
    position: relative;
    overflow: hidden;
}

span:hover a {
    color: red;
}

a + input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.private {
    display: none;
}

.button {
    background-color: #e74c3c;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.submitButtonRow {
    display: flex;
}


.profiel_foto {
    height: 300px;
    width: 220px;
}


.thumb {
    height: 300px;
    width: 220px;
}