@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

/* BODY */
body {
    margin: 0;
    background: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    scroll-behavior: smooth;
    overflow-x: hidden;
}


/* BOVENBALK */
.bovenbalk {
    background-color: #D81E05;
    width: 100%;
    height: 50px;
    display: inline-block;
}

.bovenbalk ul {
    margin-right: 3%;
    list-style: none;
    margin-top: 0%;
}

.bovenbalk ul li {
    float: right;
    display: table;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
}

.bovenbalk ul li img {
    margin-top: 10px;
    margin-left: 7px;
}

.bovenbalk ul li a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.bovenbalk ul li:hover {
    background-color: #a81501;
}

#uitlogButton{
    cursor: pointer;
}

#profielButton{
    cursor: pointer;
}

#favorietButton{
    cursor: pointer;
}

.logo {
    float: left;
    height: 45px;
    margin-top: 2px;
}

/*Inhoud PersoonSpecifiek*/




.profielFotoSpecifiek{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 0;
    margin-bottom: 3%;
    box-shadow: 1px 2px 12px rgb(180, 180, 180);

    width: 250px;
    height: 250px;



}

.introductieTekstContainerSpecifiek{
    float: right;
    width: 68%;
    margin-top: 2%;
    margin-right: 5%;
    height: 239px;
    padding: 1%;
    padding-top: 0;
    box-shadow: 1px 2px 12px rgb(180, 180, 180);
    margin-left: 0;


}

.introductieTekstSpecifiek{
    font-weight: normal;
    font-size: 95%;
}


.gegevensContainerSpecifiek{
    margin-left: 2%;
    width: 60%;
    height: 83%;
    box-shadow: 1px 2px 12px rgb(180, 180, 180);

}

.gegevensSpecifiek{
    padding: 2%;
    margin-right: 10%;
    margin-left: 5%;
    font-weight: normal;
    padding-bottom: 5%;
}

.berichtContainerSpecifiek{
    float: right;
    box-shadow: 1px 2px 12px rgb(180, 180, 180);
    width: 30%;
    height: 50%;
    margin-right: 5%;
}


.berichtButtonSpecifiek{
    margin-top: 20%;
    margin-left: 14%;
    border: none;
    height: 14%;
    width: 74%;
    background: #d81e05;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 10px;
}

.berichtButtonSpecifiek:hover{
    cursor: pointer;
    background: #ffc61f;
    color: #d81e05;
    top: 50px;
}

.favorietenButtonSpecifiek{
    margin-top: 20%;
    margin-left: 14%;
    border: none;
    height: 14%;
    width: 74%;
    background: #d81e05;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 10px;
}

.favorietenButtonSpecifiek:hover{
    cursor: pointer;
    background: #ffc61f;
    color: #d81e05;
    top: 50px;
}

.deel1Specifiek{
    float: left;
}

.deel2Specifiek{
    float: right
}



