
.accordion {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-family: "Bebas Neue";
    font-weight: normal;
    font-size: 24px;


}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    font-family: "Arial";
    font-weight: normal;
    font-size: 100%;
    text-align: left;
}

a
