    .topnav {
         color:  white;
         margin: 10px;
         padding: 0;
         overflow: hidden;
         background-color: #333;
    }

    .corendon{
        width: 100%;
         text-align: center;
         font-size: 25px;
    }

    .sidenav {
         list-style-type: none;
         margin: 10px;
         padding: 0;
         width: 15%;
         background-color: #f1f1f1;
         height: -webkit-fill-available;
         position: absolute;
    }

    li a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
    }

    li a.active {
        background-color: gray;
        color: white;
    }

    li a:hover:not(.active) {
        background-color: #555;
        color: white;
    }

    .content{
        margin-left:15%;
        padding:5px 16px;
        height:-webkit-fill-available;
    }

    .criteriatable{
        margin-left: 5%;
        margin-right: 5%;
    }

    .title{
        text-align: center;
    }

    table{
        border: 1px solid black;
        border-collapse: collapse;
        width: 100%;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 10px;
        text-align: center;
    }
    
    .content1{
        float: left;
    }

    .buttons{
        margin-left: 37.5%;
    }

