* {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}




input{

    padding: 14px;
    width: 10%;
    box-sizing: border-box;
    border-radius: 7px;
    border: 1px solid #000000;
    height: 20px;
    font-size: 14px;
    margin-bottom: 5px;
    text-align: left;
}

.kopTekst{
    margin-top: 5%;
    font-size: 150%;
    margin-bottom: 2%;
}

.wachtwoordTekst{
    font-size: 110%;
    margin-bottom: 1%;
}

.btnWachtwoordInstellen{
    margin-top: 2%;
    width: 14%;
    border: none;
    outline: none;
    height: 5%;
    background: #d81e05;
    color: #ffffff;
    font-size: 18px;
    border-radius: 20px;
    text-align: center;

}

.btnWachtwoordInstellen:hover{
    cursor: pointer;
    background: #ffc61f;
    color: #d81e05;
}


.btnEmailVerificatie{
    margin-top: 2%;
    width: 14%;
    border: none;
    outline: none;
    height: 5%;
    background: #d81e05;
    color: #ffffff;
    font-size: 100%;
    border-radius: 20px;
    text-align: center;

}

.btnEmailVerificatie:hover{
    cursor: pointer;
    background: #ffc61f;
    color: #d81e05;
}
.verificatieKopje{
    margin-top: 5%;
    font-size: 120%;
    margin-bottom: 2%;

}